
.footer-section {
    padding: 3rem 7rem 1rem 7rem;
    background-color: #000000;
}

.footer-content-social-icon {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.footer-left-side h2 {
    font-size: 23px;
    font-weight: 600;
    line-height: 39px;
    color: #FFFFFF;
}

.footer-left-side p {
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    text-align: justify;
    color: #FFFFFF;
    padding-right: 11rem;
}

.footer-right-side h4 {
    text-align: left;
    position: relative;
    transform: translate(3.5rem, 0);
    color: #FFFFFF;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 35px;
}

.footer-right-side ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-right-side ul li {
    margin: 0 1.5rem;
    color: #FFFFFF;
    font-size: 24px;
    cursor: pointer;
}

.footer-copyright-section {
    padding-top: 3rem;
}

.onTop {
    top: 0;
    left: 0;
    behavior: smooth;
}

.footer-copyright-section p {
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.footer-copyright-section .design-para {
    margin-top: -0.7rem;
}
.footer-copyright-section .personName {
    border-bottom: 1.5px solid #FFFFFF;
    color: rgb(100, 255, 218);
    cursor: pointer;
}