
.footer-section {
    padding: 3rem 7rem 1rem 7rem;
    background-color: #000000;
}

.footer-content-social-icon {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.footer-left-side h2 {
    font-size: 23px;
    font-weight: 600;
    line-height: 39px;
    color: #FFFFFF;
}

.footer-left-side p {
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    text-align: justify;
    color: #FFFFFF;
    padding-right: 11rem;
}

.footer-right-side h4 {
    text-align: left;
    position: relative;
    transform: translate(3.5rem, 0);
    color: #FFFFFF;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 35px;
}

.footer-right-side ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-right-side ul li {
    margin: 0 1.5rem;
    font-size: 24px;
    cursor: pointer;
}

.footer-right-side ul li a {
    color: #FFFFFF;
}

.footer-copyright-section {
    padding-top: 3rem;
}

.onTop {
    top: 0;
    left: 0;
    behavior: smooth;
}

.footer-copyright-section p {
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.footer-copyright-section .design-para {
    margin-top: -0.7rem;
}
.footer-copyright-section .personName {
    border-bottom: 1.5px solid #FFFFFF;
    color: rgb(100, 255, 218);
    /* color: #64ffda; */
    cursor: pointer;
}

/* Responsive Footer Start Here */
@media only screen and (max-width: 991px) {
    .footer-left-side p {
        padding-right: 5rem;
    }
    .footer-right-side ul {
        padding-left: 0rem;
    }
}
@media only screen and (max-width: 900px) {
    .footer-left-side p {
        padding-right: 1rem;
    }
}
@media only screen and (max-width: 850px) {
    .footer-section {
        padding: 3rem 2rem 1rem 2rem;
    }
    .footer-content-social-icon {
        flex-direction: column;
    }
    .footer-left-side h2 {
        text-align: center;
    }
    .footer-left-side p {
        padding: 0rem 2rem;
        text-align: center;
    }
    .footer-right-side {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .footer-right-side h4 {
        text-align: center;
        transform: translate(0rem, 0);
    }
}
@media only screen and (max-width: 425px) {
    .footer-left-side p {
        padding: 0rem 0rem;
    }
    .footer-right-side ul li {
        margin: 0 1rem;
    }
}