
.navbar-section {
    padding: 0.2rem 2rem;
    background: #F7FCFF;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.8rem;
    /* padding-bottom: 0.8rem; */
    border-bottom: 1px solid #000000;   
}

.image-section {
    position: absolute;
    left: 4rem;
}

.image-section a {
    text-decoration: none;
}

.image-section img {
    width: 45px;
}

.image-section .name-span {
    margin-left: 11px;
    color: #000000;
    font-weight: 600;
    font-size: 21px;
    position: relative;
    top: 0.25rem;
}

.navigation-section ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0.35rem;
}

.navigation-section ul li {
    margin: 0 29px;
}

.navigation-section ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
}

.moveToTopDiv {
    width: 65px;
    height: 65px;
    background: linear-gradient(90deg, rgba(100,255,218,1) 0%, rgba(32,90,86,1) 35%);
    position: fixed;
    right: 3rem;
    bottom: 1.5rem;
    z-index: 999;
    opacity: 0.9;
    border-radius: 50%;
    cursor: pointer;
}

.moveToTopDiv i {
    color: #FFFFFF;
    font-size: 25px;
    position: absolute;
    top: 20%;
    left: 30%;    
}

.toggle-btn-section i {
    position: absolute;
    right: 3rem;
    font-size: 25px;
    display: none;
}

/* Responsive Navbar Start Here */
@media only screen and (max-width: 1027px) {
    .navigation-section ul li {
        margin: 0 23px;
    }
}
@media only screen and (max-width: 991px) {
    .navigation-section ul li {
        margin: 0 20px;
    }
    .navigation-section ul li a {
        font-size: 18px;
    }
    .image-section .name-span {
        font-size: 19px;
        top: 0.15rem;
    }
}
@media only screen and (max-width: 900px) {
    .navigation-section ul li {
        margin: 0 15px;
    }
}
@media only screen and (max-width: 850px) {
    .navbar-container, .navigation-section ul {
        align-items: flex-start;
        flex-direction: column;
    }
    .image-section {
        position: unset;
    }
    .navigation-section ul li {
        margin: 0.7rem 15px;
    }
    .toggle-btn-section i {
        display: block;
    }
    .navigation-section {
        /* height: 0;
        overflow: hidden; */
        display: none;
        transition: all 0.3s ease-in-out;
    }
    .navigation-toggle-section {
        /* height: 16.5rem; */
        display: block;
    }
    .navbar-container {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}
@media only screen and (max-width: 425px) {
    .toggle-btn-section i {
        right: 1.5rem;
    }
    .navbar-container {
        border-bottom: none;
    }
}
@media only screen and (max-width: 375px) {
    .image-section img {
        width: 39px;
    }
    .image-section .name-span {
        font-size: 16px;
        margin-left: 5px;
    }
    .toggle-btn-section i {
        top: 1rem;
        font-size: 22px;
    }
}

/* * {
    border: 1px solid red;
} */