
.navbar-section {
    padding: 0.2rem 2rem;
    background: #F7FCFF;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.8rem;
    /* padding-bottom: 0.8rem; */
    border-bottom: 1px solid #000000;
    
}

.image-section a {
    text-decoration: none;
}

.image-section img {
    width: 45px;
}

.image-section .name-span {
    margin-left: 11px;
    color: #000000;
    font-weight: 600;
    font-size: 21px;
    position: relative;
    top: 0.25rem;
}

.navigation-section ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0.35rem;
}

.navigation-section ul li {
    margin: 0 29px;
}

.navigation-section ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
}

.moveToTopDiv {
    width: 65px;
    height: 65px;
    /* background: rgb(100, 255, 218); */
    background: #205A56;
    position: fixed;
    right: 3rem;
    bottom: 1.5rem;
    z-index: 999;
    opacity: 0.9;
    border-radius: 50%;
    cursor: pointer;
}

.moveToTopDiv i {
    color: #FFFFFF;
    font-size: 25px;
    position: absolute;
    top: 20%;
    left: 30%;
    
}

/* Responsive Navbar Start Here */