
/* Banner Section Start Here */
.banner-section {
    padding: 7.9rem 0;
}

.banner-heading-para {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-heading-para h5 {
    color: #205A56;
    font-weight: 600;
    line-height: 39px;
    font-size: 21px;
}

.banner-heading-para h1 {
    color: #000000;
    font-weight: 700;
    font-size: 59px;
    line-height: 71px;
}

.banner-heading-para p {
    padding: 0 11rem;
    text-align: center;
    font-weight: 500;
    font-size: 21px;
    line-height: 43px;
    color: #787878;
}

.banner-heading-para button, .contacts-form-inner-div button {
    background: #205A56;
    box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    border: none;
    outline: none;
    padding: 1rem 3rem;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
}

/* About Me Section Start Here */
.about-me-section, .contacts-section {
    padding: 5.5rem 0;
}

.about-me-heading {
    padding-bottom: 4rem;
}

.about-me-heading h2, .resume-heading h2, .contacts-heading h2, .projects-section-heading h2 {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
}

.below-heading-line {
    width: 91px;
    height: 5px;
    background-color: #205A56;
    display: flex;
    margin: auto;
    border-radius: 25px;
}

.about-me-details p {
    color: #787878;
    font-weight: 500;
    font-size: 19px;
    line-height: 35px;
    text-align: justify;
}

.about-me-skills-button-main-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-me-skills-section h3 {
    color: #000000;
    font-weight: 600;
    font-size: 29px;
    line-height: 39px;
}

.about-me-skills-button button, .about-me-skills-responsive-button button {
    background: #205A56;
    border-radius: 11px;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
}

.about-me-skills-button button {
    padding: 0.5rem 1.5rem;
}

.about-me-skills-responsive-button button {
    padding: 0.5rem 2rem;
}

/* Projects Section Start Here */
.projects-section {
    padding-bottom: 3rem;
    padding-top: 5.5rem;
}

.projects-section-heading {
    margin-bottom: 3rem;
}

.projects-section-sub-heading {
    padding: 0 0 1.5rem 0;
}

.projects-section-sub-heading-last {
    padding: 1.5rem 0 0 0;
}

.projects-section-sub-heading h3, .projects-section-sub-heading-last h3 {
    color: #000000;
    font-weight: 500;
}

.projects-section-sub-heading h3 span, .projects-section-sub-heading-last h3 span {
    border-bottom: 4px solid #205A56;
    border-radius: 11px;
}

.projects-heading-para h4 {
    font-weight: 600;
    font-size: 22px;
    line-height: 39px;
    text-align: justify;
    color: #000000;
}

.projects-heading-para h2 {
    color: #000000;
    text-align: justify;
    font-weight: 600;
    font-size: 35px;
    line-height: 39px;
}

.projects-heading-para p  {
    font-size: 18px;
    line-height: 35px;
    margin-top: 1rem;
    text-align: justify;
}

.projects-heading-para .projects-para {
    font-weight: 400;
    color: #787878;
}

.projects-heading-para span {
    font-weight: 600;
    color: #000000;
    margin: 0 0.5rem;
}

.projects-heading-para button {
    background: #205A56;
    box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 23px;
    margin-top: 1rem;
}

.projects-heading-para i {
    position: relative;
    top: -2px;
}
 
/* Resume Section Start Here */
.resume-heading-section {
    padding-top: 5.5rem;
}

.resume-section {
    background-color: #205A56 !important;
    margin-top: 2rem;
    padding: 3rem 7rem;
}

.resume-section h2 {
    font-weight: 500;
    font-size: 35px;
    line-height: 73px;
    text-align: left;
    color: #FFFFFF;
}

.company-details h3, .education-details h3 {
    font-weight: 500;
    font-size: 27px;
    line-height: 39px;
    text-align: left;
    color: #FFFFFF;
}

.work-details h4, .education-passed-date h4 {
    font-weight: 500;
    font-size: 21px;
    line-height: 39px;
    text-align: left;
    color: #FFFFFF;
}

.resume-section p {
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    text-align: left;
    color: #FFFFFF;
}

.work-details {
    margin-top: 1.5rem;
}

.education-details {
    margin-top: 3rem;
}

.education-passed-date {
    margin-top: 1.5rem;
}

/* Contacts Section Start Here */
/* .contacts-section {
    background-color: lightcyan;
} */

.contacts-heading {
    padding-bottom: 4rem;
}

.contacts-form-div {
    padding: 0 9rem;
}

.contacts-form-inner-div label {
    font-weight: 500;
    font-size: 17px;
    line-height: 31px;
    color: #000000;
}

.contacts-form-inner-div input, .contacts-form-inner-div textarea {
    border: 2px solid #B6B0B0;
    border-radius: 7px;
    outline: none;
    background-color: transparent;
}

.contacts-form-inner-div input:focus, .contacts-form-inner-div textarea:focus {
    border: 2px solid #B6B0B0;
    border-radius: 7px;
    background-color: transparent;
    box-shadow: none;
    color: #000000;
    font-weight: 500;
    font-size: 19px;
}

.contacts-form-inner-div button {
    display: flex;
    margin: auto;
    margin-top: 2.5rem;
}
